# Variables del compose: versiones de imagen y puerto público del orquestador.
ORQUESTADOR_VERSION=1.0.1
VALIDACION_VERSION=1.0.0
EXTRACCION_VERSION=1.0.0
ACTUALIZACIONES_VERSION=1.0.0
CONSULTAS_VERSION=1.0.0
ORQUESTADOR_HOST_PORT=8080
