# Variables del compose: versiones de imagen y host público del orquestador (Traefik).
ORQUESTADOR_VERSION=1.0.4
VALIDACION_VERSION=1.0.3
EXTRACCION_VERSION=1.0.4
ACTUALIZACIONES_VERSION=1.0.3
CONSULTAS_VERSION=1.0.3
ORQUESTADOR_HOST=pdf.universidad.localhost
