VALIDACION_URL=http://validacion-pdf:8000
EXTRACCION_URL=http://traefik-interno
PERSISTENCIA_CONSULTAS_URL=http://persistencia-consultas:8000
PERSISTENCIA_ACTUALIZACIONES_URL=http://persistencia-actualizaciones:8000
REQUEST_TIMEOUT_SECONDS=10
RETRY_ATTEMPTS=2
RETRY_DELAY_SECONDS=0.5
LOG_LEVEL=INFO
